.signup{
     height:300px;
    width:250px;
    padding:50px;
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    
    gap:25px;
    
    margin-left: 50px;
    margin-top:50px;
}
.signup-container{
 
    height:100vh;
    display:flex;
   background-color: white;
    align-items: center;
    justify-content: center;
    background-image: url("https://tse3.mm.bing.net/th/id/OIP.iw89D3BEpCnoVITQ8UXp6QHaEK?rs=1&pid=ImgDetMain&o=7&rm=3");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
     
}
.data{
    width: 100%;
    display:flex;
    flex-direction: column ;
    gap:10px;
    justify-content: center;
    align-items: center;
  
}
.data-input{
    border:none;
    border-radius:5px;
height:25px;
}

.but{
    width: 100%;
    display:flex;
    justify-content: center;
    color:azure;
  
}



body{
    margin: 0;
    padding:0;
}
.header-container{
    background-color: black;
   display: flex;
   justify-content: space-around;
   border-bottom-left-radius: 25px;
   border-bottom-right-radius:25px;
}
.logo-container{
   height: 75px;
   width:75px;
   object-fit:contain;
   padding-right: 900px;
}
.head-item{
    display:flex;
    gap:25px;
    color:wheat;
}

.head-item li{
    list-style: none;
    font-size:20px;

}
.head-container{
    display:flex;
    align-items: center;
}


.login{
   height:300px;
    width:250px;
    padding:50px;
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    
    gap:25px;
   
    margin-left: 50px;
    margin-top:50px;
   
 
     
}
.login-container{
 
    height:100vh;
    display:flex;
   background-color: white;
    align-items: center;
    justify-content: center;
    background-image: url("https://i.pinimg.com/736x/f9/d2/a2/f9d2a24ceb34973b51f7c8957e90b799.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
}

.data{
    
    width: 100%;
    display:flex;
    flex-direction: column ;
    gap:10px;
    justify-content: center;
    align-items: center
    

}

h1 {
  margin-top: 0;
}

.image-box {
  display: inline-block;
  width: 200px;
  margin: 20px;
  margin-left:125px;
  text-align: center;
}

.image-box img {
  width: 100%;
  border-radius: 10px;
}

.image-box h3 {
  
  margin: 10px 0 5px;
  color: #ff6600; 
}

.image-box p {
  font-size: 14px;
  color: #333;
}

h2{
    margin-left:600px;
}

#about {
  padding: 40px;
  background: white; 
  border-radius: 10px;
}

#about h2 {
  text-align: center;
  color: #ff6600;
  margin-bottom: 20px;
  margin-right:500px;
}

.character-box {
  margin: 15px 0;
  padding: 15px;
  background: #f9f9f9;
  border-left: 5px solid #ff6600;
  border-radius: 8px;
}

.character-box h3 {
  margin: 0 0 5px;
  color: #333;
}

.character-box p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

#contact {
  padding: 40px;
  background: white;
  border-radius: 10px;
}

#contact h2 {
  text-align: center;
  color: #ff6600;
  margin-bottom: 20px;
  margin-right: 500px;
}
#contact p{
   margin-left:400px;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background:white;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background:white;
}

.contact-info {
  margin-top: 30px;
  text-align: center;
  margin-right:400px;
}