.signup{
     height:300px;
    width:250px;
    padding:50px;
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    
    gap:25px;
    
    margin-left: 50px;
    margin-top:50px;
}
.signup-container{
 
    height:100vh;
    display:flex;
   background-color: white;
    align-items: center;
    justify-content: center;
    background-image: url("https://images.all-free-download.com/images/thumbjpg/web_technology_conceptual_banner_template_3d_laptop_smartphone_light_effect_6939025.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
     
}
.data{
    width: 100%;
    display:flex;
    flex-direction: column ;
    gap:10px;
    justify-content: center;
    align-items: center;
  
}
.data-input{
    border:none;
    border-radius:5px;
height:25px;
}

.but{
    width: 100%;
    display:flex;
    justify-content: center;
    color:azure;
  
}

.but a{
  text-decoration: none;
}

body{
    margin: 0;
    padding:0;
}
.header-container{
    background-color: black;
   display: flex;
   justify-content: space-around;
   border-bottom-left-radius: 25px;
   border-bottom-right-radius:25px;
}
.logo-container{
   height: 75px;
   width:75px;
   object-fit:contain;
   padding-right: 900px;
}
.head-item{
    display:flex;
    gap:25px;
    color:wheat;
}

.head-item li{
    list-style: none;
    font-size:20px;

}
.head-container{
    display:flex;
    align-items: center;
}


.login{
   height:300px;
    width:250px;
    padding:50px;
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    
    gap:25px;
   
    margin-left: 50px;
    margin-top:50px;
   
 
     
}
.login-container{
 
    height:100vh;
    display:flex;
   background-color: white;
    align-items: center;
    justify-content: center;
    background-image: url("https://tse2.mm.bing.net/th/id/OIP.H_IJPVFkctp1keZB3Rg0JwHaFz?cb=ucfimg2&pid=ImgDet&ucfimg=1&w=184&h=144&c=7&dpr=1.3&o=7&rm=3");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
}

.data{
    
    width: 100%;
    display:flex;
    flex-direction: column ;
    gap:10px;
    justify-content: center;
    align-items: center
    

}
.data a{
  text-decoration: none;
}
h1 {
  margin-top: 0;
}

.image-box {
  display: inline-block;
  width: 200px;
  margin: 20px;
  margin-left:125px;
  text-align: center;
}

.image-box img {
  width: 100%;
  border-radius: 10px;
}

.image-box h3 {
  
  margin: 10px 0 5px;
  color: #ff6600; 
}

.image-box p {
  font-size: 14px;
  color: #333;
}

h2{
    margin-left:600px;
}

.head-item a{
    text-decoration: none;
    color: #ff6600;
    letter-spacing :0.3em;
    transition: 5s;
}
.head-item a:hover{
  letter-spacing: 0;
  color:#f9f9f9;
}
#about {
  padding: 40px;
  background:  #555; 
  border-radius: 10px;
}

#about h2 {
  text-align: center;
  color: #ff6600;
  margin-bottom: 20px;
  margin-right:500px;
}

.character-box {
  margin: 15px 0;
  padding: 15px;
  background: #f9f9f9;
  border-left: 5px solid #ff6600;
  border-radius: 8px;
}

.character-box h3 {
  margin: 0 0 5px;
  color: #333;
}

.character-box p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

#contact {
  padding: 40px;
 background:  #555;
  border-radius: 10px;
}

#contact h2 {
  text-align: center;
  color: #ff6600;
  margin-bottom: 20px;
  margin-right: 500px;
}
#contact p{
   margin-left:400px;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background:white;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background:blueviolet;
}

.contact-info {
  margin-top: 30px;
  text-align: center;
  margin-right:400px;
}
.cont{
  background-color: #555;
  
}
.img{
   height:200px;
   width: 300px;
   background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgfpS8qLylJglHSZL5TnSfFWoTdf1UyQ_zXw&s);
   background-repeat: no-repeat;
   transition: 2s;
 
   margin-left: 600px;;
   
}
.img:hover{
  border-radius: 50%;
  background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwzpTmg5LCVX2jMCI-l2n9FEUGROyH7syNcw&s);
  transform: rotate(360deg);

 
}
.vi-bg{
    width: 650px;
    margin-left:400px;
    margin-top: 25px;
}
iframe{
  margin-left: 350px;
}

#home button{
  background-color: #555;
}
#bu{
  width:100px;
  height:25px;
}

.b1{
  border:2px solid black;
  width:1510px;
  height:100px;
  background-color:#f49556;
}

footer{
  width:1500px;
  height:100px;
}

 button{
    padding:10px 20px;
    margin:10px;
    border:none;
    border-radius:5px;
    font-size:14px;
    cursor: pointer;
    transition: transform 0.3s ease;

}
.lig-but{
  margin-left: 1250px;
}

.button-grp{
    display:flex;
    justify-content:center;
}

.lig-but{
    background:#fff;
    border:1px solid #ccc;
}
.dar-but{
    background:#fff;
    border:#fff;
}

body.dark{
    background-color:#121212;
    color:#f5f5f5
}
body.dark #about{
    background:rgba(20,20,20,0.9);
    box-shadow:0px 4px 18px rgba(0,0,0,0.7); 
  }

  body.dark #contact{
    background:rgba(20,20,20,0.9);
    box-shadow:0px 4px 18px rgba(0,0,0,0.7); }